NodeRed/bender_strategy_manual.json
[
    {
        "id": "bender_strategy_manual_tab",
        "type": "tab",
        "label": "Bender Strategy Manual",
        "disabled": false,
        "info": "Manual strategy: Allows manual setting of HEMS limit.\nLoad Balancer safety: when LB changes and current HEMS exceeds\nthe available capacity, HEMS is automatically lowered."
    },
    {
        "id": "bender_manual_group",
        "type": "group",
        "z": "bender_strategy_manual_tab",
        "name": "Manual Strategy - Handbediening",
        "style": {
            "label": true
        },
        "nodes": [
            "bender_manual_start_link",
            "bender_manual_status",
            "bender_manual_get_hems",
            "bender_manual_get_lb",
            "bender_manual_lb_check",
            "bender_manual_lb_cap",
            "bender_manual_debug"
        ],
        "x": 14,
        "y": 19,
        "w": 892,
        "h": 242
    },
    {
        "id": "bender_manual_start_link",
        "type": "link in",
        "z": "bender_strategy_manual_tab",
        "g": "bender_manual_group",
        "name": "Manual Start",
        "links": [
            "bender_master_link_manual"
        ],
        "x": 65,
        "y": 80,
        "wires": [
            [
                "bender_manual_get_hems"
            ]
        ]
    },
    {
        "id": "bender_manual_get_hems",
        "type": "api-current-state",
        "z": "bender_strategy_manual_tab",
        "g": "bender_manual_group",
        "name": "Get current HEMS",
        "server": "b9d10367867e38e6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.bender_hems_limit",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "manual_hems",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "x": 230,
        "y": 80,
        "wires": [
            [
                "bender_manual_get_lb"
            ]
        ]
    },
    {
        "id": "bender_manual_get_lb",
        "type": "api-current-state",
        "z": "bender_strategy_manual_tab",
        "g": "bender_manual_group",
        "name": "Get LB limit",
        "server": "b9d10367867e38e6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.bender_loadbalancer_available_current",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "manual_lb",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "x": 430,
        "y": 80,
        "wires": [
            [
                "bender_manual_lb_check",
                "bender_manual_debug"
            ]
        ]
    },
    {
        "id": "bender_manual_lb_check",
        "type": "switch",
        "z": "bender_strategy_manual_tab",
        "g": "bender_manual_group",
        "name": "HEMS > LB?",
        "property": "manual_hems",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "manual_lb",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 80,
        "wires": [
            [
                "bender_manual_lb_cap"
            ],
            [
                "bender_manual_status"
            ]
        ]
    },
    {
        "id": "bender_manual_lb_cap",
        "type": "api-call-service",
        "z": "bender_strategy_manual_tab",
        "g": "bender_manual_group",
        "name": "Cap HEMS to LB",
        "server": "b9d10367867e38e6",
        "version": 7,
        "debugenabled": false,
        "action": "script.bender_set_charging_current",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"current\": \"{{manual_hems}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "x": 830,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "bender_manual_status",
        "type": "api-call-service",
        "z": "bender_strategy_manual_tab",
        "g": "bender_manual_group",
        "name": "Set status: Handbediening",
        "server": "b9d10367867e38e6",
        "version": 7,
        "debugenabled": false,
        "action": "input_text.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_text.bender_strategy_active_status"
        ],
        "labelId": [],
        "data": "{\"value\": \"Manual: Handbediening actief\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "x": 830,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "bender_manual_debug",
        "type": "debug",
        "z": "bender_strategy_manual_tab",
        "g": "bender_manual_group",
        "name": "Manual LB check",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 200,
        "wires": []
    }
]
